@import '../../app/styles/index.scss';

.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 40px;
    gap: 50px;

    .top-container{
        .header {
            font-size: 30px;
            font-family: 'Familjen Grotesk';
            font-weight: 200px;
        }
        .sub-content{
            display: flex;
        }
    }
}
