@import "../../../app/styles/index.scss";

.container {
    display: flex;
    justify-content: space-between;
    border: 1px solid blue;
    padding: 20px 20px;
    font-family: "Libre Baskerville";
    align-items: center;
    background-color: #3c1449;
    color: azure;

    .toggle {
        display: contents;

        @include tablet {
            display: none;
        }
    }

    .logo {
        cursor: pointer;
    }

    @include tablet {
        display: flex;
        justify-content: space-evenly;
    }

    .detail-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
        }

        .sub-section {
            display: none;

            @include tablet {
                display: flex !important;
                gap: 100px;
            }
        }
    }

    .avi {
        img {
            background-color: blue;
            width: 30px;
            height: 30px;
            border-radius: 100%;
        }
    }
}
