@import "../../../app/styles/index.scss";

.container {
    display: flex;
    justify-content: space-between;
    border: 1px solid blue;
    padding: 20px 20px;
    font-family: "Libre Baskerville";
    align-items: center;
    background-color: #3c1449;
    color: azure;
    
    .logo {
        cursor: pointer;
    }

    @include tablet {
        display: flex;
        justify-content: space-evenly;
    }

    .detail-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
        }

        .sub-section {
            display: none;
            


            @include tablet {
                display: flex !important;
                gap: 100px;
            }
        }

        .notification {
            position: relative;
            span {
                position: absolute;
                top: -1px;
                right: -0px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: red;
                color: white;
                width: 13px;
                height: 13px;
                border-radius: 100%;
                font-size: 10px;
            }
            .notification-icon {
                font-size: 25px;
            }
        }
    }

    .avi {
        img {
            background-color: blue;
            width: 30px;
            height: 30px;
            border-radius: 100%;
        }
    }
}
