@import "../../../app/styles/index.scss";

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    font-family: "Familjen Grotesk";
    align-items: center;
    background-color: #3c1449;
    color: azure;
    // position: fixed;
    // top: 0;
    // width: 100%;
    // z-index: 999;
    // border: red solid 1px;

    .toggle {
        display: contents;
        width: 100%;

        @include tablet {
            display: none;
        }
    }

    .logo {
        cursor: pointer;
    }

    @include tablet {
        display: flex;
        justify-content: space-evenly;
        // width: 100%;
    }

    .detail-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
        }

        .sub-section {
            display: none;

            @include tablet {
                display: flex !important;
                gap: 100px;

                .link {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }

    .avi {
        img {
            width: 30px;
            height: 30px;
            border-radius: 100%;
        }
    }
}

.sideBar-wrapper {
    @include tablet {
        display: none;
    }
}
