@import "../../../app/styles/index.scss";

.container {
    display: block;
    padding: 20px 20px;
    font-family: "Familjen Grotesk";
    position: relative;
    padding-top: 100px;

    @include tablet {
        padding-top: 0;
    }

    .logo {
        display: flex;
        width: 100%;
        font-size: 20px;
        font-family: "Dancing script";
        padding-left: 20px;
        font-style: italic;

        @include tablet {
            display: flex;
            margin-top: 100px;
            font-size: 40px;
            justify-content: flex-end;
            padding-right: 150px;
            font-style: italic;
            font-family: "Dancing Script";
            font-weight: 400;
            color: #3c1449;
        }
    }

    .item-container {
        font-family: "Familjen Grotesk";

        @include tablet {
            display: flex;
            justify-content: space-around;
        }
        .image {
            width: 100%;
            margin-top: 30px;

            img {
                width: 100%;
                border-radius: 10px;
            }
            @include tablet {
                display: flex;
                justify-content: center;

                width: 50%;
                height: 0%;
                padding: 20px 20px;

                img {
                    width: 400px;
                    height: 500px;
                }
            }
        }
        .text {
            width: 100%;
            padding-top: 40px;
            line-height: 30px;
            color: #3c1449;
            font-family: "Dancing Script";

            @include tablet {
                display: flex;
                align-items: center;
                width: 50%;
                padding: 20px 20px;
                padding-top: 50px;
                color: #3c1449;
                font-size: 20px;
                line-height: 30px;
                font-family: "Dancing Script";
            }
        }
    }

    .section-2 {
        display: block;
        gap: 50px;

        @include tablet {
            display: flex;
            justify-content: space-around;
            flex-direction: row-reverse;
        }

        .image {
            width: 100%;
            margin-top: 30px;

            img {
                width: 100%;
                border-radius: 10px;
            }
            @include tablet {
                width: 50%;
                height: 50%;
                padding: 20px 20px;
            }
        }
        .text {
            width: 100%;
            padding-top: 40px;
            line-height: 30px;
            color: #3c1449;
            font-family: "Dancing Script";

            @include tablet {
                display: flex;
                align-items: center;
                width: 50%;
                padding: 20px 20px;
                padding-top: 50px;
                color: #3c1449;
                font-size: 20px;
                line-height: 30px;
                font-family: "Dancing Script";
            }
        }
    }
}
