@import '../../../app/styles/index.scss';

.button {
    width: 285px;
    color: $foundationBlack;
    height: 40px;
    background-color: $SkyBlue;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: darkblue;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
