@import '../../../app/styles/index.scss';

.button {
    width: 285px;
    color: $foundationBlack;
    height: 40px;
    background-color: $SkyBlue;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: $SkyBlue ;
    color: $foundationBlack;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.spinner{
    width: 25px;
        height: 25px;
        border-radius: 100%;
        animation-name: rotate;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: forwards;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.error-message {
    font-family: 'Libre Baskerville';
    font-size: 10px;
    color: red;
}