@import "../../../app//styles/index.scss";

.container {
    position: absolute !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 35%;
    background-color: rgb(255, 252, 252);
    border-right: 1px solid rgb(204, 219, 221);
    height: 100%;
    
    


    .content {
        font-family: "Libre Baskerville";
        font-size: 12px;
    }

    .settings {
        bottom: 0;
        display: flex;
        align-items: center;
        gap: 5px;
    }
}

