@import '../../../styles//index.scss';

.container {
  display: flex;
  background: #ffffff;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);

  .search-field {
    input {
      width: 344px;
      height: 35px;
      border-bottom-left-radius: 8px;
      border-top-left-radius: 8px;
      outline: none;
      padding-left: 20px;
      border: 1px solid #213f7d;
      color: #545f7d;
      font-family: 'Work Sans';
    }
  }
  .search-glass {
    display: flex;
    width: 56px;
    height: 40px;
    background-color: #39cdcc;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
  }
}
