.container {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 160px;
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding-left: 30px;
  padding-top: 20px;
  gap: 14px;

  .icon {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
  }

  .title{
    text-transform: uppercase;
    color:#545F7D;
  }
  .numbers {
    color: #213f7d;
    font-weight: 600;
    font-size: 24px;
  }
}
