@import "../../styles/index.scss";
.login-container {
  .content-container {
    display: flex;
    justify-content: space-between;

    .image-section {
      .logo {
        padding-bottom: 80px;
        img {
          left: 132.33px;
          top: 106px;
          padding-top: 80px;
          padding-left: 67px;
        }

        .banner {
          img {
            width: 600px;
            padding-left: 100px;
          }
        }
      }
    }
    .form-section-container {
      padding-left: 100px;
      width: 704px;
      height: 900px;
      background: #ffffff;
      box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);

      .top-text {
        padding-top: 200px;
        width: 183px;
        font-family: "Avenir Next";
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        color: #213f7d;

      }
      .sub-text {
        width: 194px;
        height: 28px;
        left: 836px;
        top: 280px;
        font-family: "Avenir Next";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #545f7d;
      }
      .input-container {
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        input {
          width: 350px;
          height: 30px;
          left: 836px;
          top: 368px;
          outline: none;
          color: #545F7D;
        }

        span {
          text-transform: capitalize;
          color: #39cdcc;
          font-size: 12px;
          font-family: "Avenir Next";
        }
        .button {
          width: 358px;
          height: 30px;
          font-family: "Avenir Next";
          font-style: normal;
          font-size: 12px;
          text-transform: uppercase;
          background-color: #39cdcc;
          color: #ffffff;
          cursor: pointer;
          border-radius: 6px;
          border: none;
        }
      }
    }
  }
}
