.nav {
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  gap: 24px;
  justify-content: space-between;

  .logo {
    padding-left: 30px;
  }

  .right-nav {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
    padding-right: 30px;

    .notifications {
      width: 19.67px;
      height: 22.74px;
  
    }
    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        border-radius: 100%;
      }
    }
    .profile {
      display: flex;
      gap: 5px;
    }
  }
}
