@import "../../styles/index.scss";

.body-section {
  display: flex;
  gap: 26px;

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .title {
      text-transform: capitalize;
      color: #213f7d;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      padding-bottom: 40px;
      padding-left: 60px;
      padding-top: 60px;
    }

    .card-section {
      flex: 1;
      display: flex; 
      padding-left: 60px;
      justify-content: space-between;
      padding-right: 60px;
      }
  }
}
